@use "../../global/bootstrap.scss" as *;

.button {
  font: 18px/20px "Open sans", "Arial", sans-serif;
  display: grid;
  font-weight: 700;
  text-align: center;
  color: $btn-color;
  background: transparent;
  padding: 16px 18px;
  cursor: pointer;
  border: none;
  outline: 2px solid $btn-color;
  outline-offset: -2px;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    letter-spacing: -0.7px;
  }

  &:hover {
    color: $btn-hover-color;
    background-color: $btn-hover-background;
  }

  &:active {
    color: $btn-active-color;
  }

  &:focus-visible {
    box-shadow:
      0 0 0 1px $bg-color,
      0 0 0 2px $color;
  }
}

.button--modal {
  width: 100%;
  background-color: $primary-color;
  color: $bg-color;
  outline: none;
  letter-spacing: -0.2px;


  &:hover {
    background-color: rgba($primary-color, 0.7);
  }

  &:active {
    background-color: rgba($primary-color, 0.3);
    color: $bg-color;
  }
}
