@use "../../global/bootstrap.scss" as *;

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 27px;
  min-height: 77px;

  @media (min-width: $tablet-width) {
    justify-content: end;
    transform: translateY(-3px);
  }
}

.copyright__text {
  font-size: 19px;
  font-weight: 700;
  line-height: 18px;

  @media (min-width: $desktop-width) {
    transform: translate(-3px, 0);
  }
}

.copyright__link {
  color: $primary-color;
  transform: translateY(5px);
  transition: 0.25s;

  @media (min-width: $tablet-width) {
    transform: translateY(3px);
  }

  &:hover {
    color: $primary-hover-color;
  }

  &:active {
    opacity: 0.3;
  }
}
