@use "../../global/bootstrap.scss" as *;

.footer {
  display: grid;
  grid-template-rows: minmax(80px, 1fr);
  background-color: $footer-bg-color;
  padding: 0 $mobile-padding;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(3, 1fr);
    padding: 20px $tablet-padding;
    align-items: center;
    min-height: 143px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 0 $desktop-padding;
    margin: 0 auto;
  }
}

.footer__logo {
  color: $color;
  width: fit-content;

  &:hover {
    color: $primary-hover-color;
  }

  &:active {
    opacity: 0.3;
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}
