@use "../../global/bootstrap.scss" as *;

.modal {
  margin: auto;
  width: $mobile-modal-width;
  min-height: 336px;
  border: 1px solid #c6c6c6;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  padding: 29px 30px 46px;
  background-color: $bg-color;

  @media (min-width: $tablet-width) {
    width: 566px;
    padding: 38px 92px 46px;
  }
}

.modal__title {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  margin: 0 30px 15px 55px;
  text-transform: uppercase;
  transform: translateX(3px);
  text-align: left;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 57px;
    text-align: center;
    margin: 0 0 12px;
    transform: translateX(-1px);
  }
}

.modal__content {
  @media (min-width: $tablet-width) {
    padding: 0 16px 0;
  }
}

.modal__group {
  border: none;
  padding: 0;
  margin: 0;
}

.modal__legend {
  text-align: center;
  margin-bottom: 21px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    margin-bottom: 18px;
  }
}

.modal__group-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  margin-bottom: 31px;
}

.modal__label {
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  padding: 18px 22px;
  box-shadow: inset 0 0 0 2px rgba($text-color, 0.1);
  flex-grow: 1;
  text-align: center;
  cursor: pointer;
}

.modal__label:hover {
  box-shadow: inset 0 0 0 2px rgba($text-color, 0.3);
}

.modal__label:active {
  box-shadow: inset 0 0 0 2px #62d1ba;
}

.modal__input:checked + .modal__label {
  box-shadow: inset 0 0 0 2px $primary-color;
}
