@use "../../global/bootstrap.scss" as *;

.slider {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 175px;
  }
}

.slider__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
    grid-row: 1/2;
  }
}

.slider__item--hide {
  display: none;
}

.slider__buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 52px;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: end;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 48px;
  }
}

.slider__button {
  border: 1px solid $btn-slider-border;
  cursor: pointer;
  background: url("../img/huge-arrow-left.svg") no-repeat 47% 49%;
  background-color: transparent;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.slider__button--next {
  transform: scaleX(-1);
  background-position: 52% 49%;
  border-right: none;
}
