@use "../../global/bootstrap.scss" as *;

.social {
  @include list-reset;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
  padding-top: 4px;

  @media (min-width: $t-width) {
    justify-content: start;
    transform: translate(-13px, -2px);
  }

  @media (min-width: $d-width) {
    transform: none;
    margin-left: 49px;
  }
}

.social__link {
  padding: 15px 14px;
  color: $social-icon-color;

  &:hover {
    color: $social-icon-hover-color;
  }

  &:active {
    opacity: 0.3;
  }
}
