@use "../../global/bootstrap.scss" as *;

.about-us {
  padding: 31px 30px 28px;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
}

.about-us__title {
  @media (min-width: $t-width) {
    width: $t-container;
    margin: 0 auto;
    margin-bottom: 43px;
  }
}

.about-us__list {
  @include list-reset;

  @media (min-width: $t-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 668px;
    margin: 0 auto;
  }
}

.about-us__column-1 {
  display: flex;
  flex-direction: column;
}

.about-us__column-2 {
  display: flex;
  flex-direction: column;
}

.about-us__item {
  padding-top: 55px;
  margin-bottom: 28px;
  position: relative;

  &--eco {
    background: url("../img/icons/icon-1.svg") no-repeat 8px top;

    @media (min-width: $t-width) {
      background-position-y: -2px;
    }
  }

  &--price {
    background: url("../img/icons/icon-3.svg") no-repeat 0 top;
  }

  &--likes {
    background: url("../img/icons/icon-5.svg") no-repeat 7px 5px;
  }

  &--handmade {
    background: url("../img/icons/icon-2.svg") no-repeat 3px 2px;
  }

  &--national::before {
    content: "";
    position: absolute;
    top: 3px;
    left: -6px;
    width: 55px;
    height: 23px;
    background: url("../img/icons/icon-4.svg") no-repeat;
  }

  &--package {
    background: url("../img/icons/icon-6.svg") no-repeat 3px 2px;
  }

  @media (min-width: $t-width) {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 55px;
  }
}

.about-us__text {
  letter-spacing: 1.27px;
  margin: 0;

  @media (min-width: $t-width) {
    letter-spacing: 0;
  }
}
