@use "../../global/bootstrap.scss" as *;

.categories__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    padding: 0 $tablet-padding;
    display: flex;
    line-height: 30px;
    letter-spacing: 0.6px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-container;
    padding: 0;
    margin: 0 auto;
  }
}

.categories__item {
  display: grid;
  min-height: 103px;
  flex-grow: 1;
  transition: 0.15s ease-in-out;

  @media (min-width: $tablet-width) {
    width: 50%;

    &:hover {
      transform: translateY(-5px);
    }
  }
}

.categories__item--left {
  background-color: $left-category-btn;
}

.categories__item--right {
  background-color: $right-category-btn;
}

.categories__link {
  position: relative;
  display: block;
  font-size: 19px;
  font-weight: 700;
  text-decoration: none;
  padding: 24px 160px 31px $mobile-padding;
  color: $category-btn-color;

  &::after {
    content: "";
    position: absolute;
    opacity: 0.5;
    transition: 0.12s ease-in-out;
  }

  &--left::after {
    width: 40px;
    height: 62px;
    background: url("../img/icons/interior.svg");
    top: 24px;
    right: 36px;

    @media (min-width: $tablet-width) {
      top: 29px;
    }
  }

  &--right::after {
    width: 60px;
    height: 60px;
    background: url("../img/icons/toy-svg.svg");
    top: 21px;
    right: 27px;

    @media (min-width: $tablet-width) {
      top: 30px;
      right: 33px;
    }
  }

  &:hover::after {
    opacity: 0.7;
    transform: translateY(-5px);

    @media (min-width: $tablet-width) {
      transform: none;
    }
  }

  &:active::after {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding: 25px $tablet-padding 46px 36px;
  }
}
