@use "../../global/bootstrap.scss" as *;

.contacts {
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    margin-bottom: 56px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 174px ($desktop-container - 174 - 527) 527px;
    grid-template-areas:
      ". text   map"
      ". button map";
    padding: 71px $desktop-padding 105px;
    width: $desktop-width;
    margin: 0 auto;
  }
}

.contacts__title {
  position: relative;

  &::after {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      background: url("../img/icons/flag.svg");
      width: 47px;
      height: 81px;
      top: -23px;
      right: 3px;
    }

    @media (min-width: $desktop-width) {
      left: -111px;
      top: -18px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 35px;
  }
}


.contacts__wrapper {
  margin: 40px $mobile-padding 62px $mobile-padding - 1;
  grid-area: text;

  @media (min-width: $tablet-width) {
    padding: 70px $tablet-padding 0;
    margin: 0;
    margin-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    padding: 80px 0 0;
    margin-bottom: 0;
  }
}

.contacts__feedback {
  margin: 0 $mobile-padding;
  grid-area: button;

  @media (min-width: $tablet-width) {
    display: block;
    margin: 0 auto;
    padding: 16px 41px;
  }

  @media (min-width: $desktop-width) {
    justify-self: start;
    align-self: end;
    margin: 0;
    transform: translateY(3px);
  }
}

.contacts__list {
  display: grid;
  grid-template-columns: 66fr 185fr;
  gap: 30px 12px;
  margin: 0;
  min-width: 261px;
  font-size: 14px;
  font-style: normal;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 78px 1fr 78px 1fr;
    gap: 0;
    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 75px 1fr;
    row-gap: 30px;
    padding-right: 20px;
  }
}

.contacts__text {
  margin: 0;
}

.contacts__email {
  position: relative;
  text-decoration: none;
  color: $text-color;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    bottom: -2px;
    border-bottom: 1px solid $brand-color;

    @media (min-width: $tablet-width) {
      bottom: -4px;
    }

    @media (min-width: $desktop-width) {
      bottom: -8px;
    }
  }

  &:hover {
    color: $brand-color;
  }
}

.contacts__map {
  height: 455px;
  width: 100%;
  background-color: $footer-bg-color;
  margin-bottom: 40px;
  grid-area: map;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.contacts__map-image {
  display: block;
  margin: 0 auto;
}
