@use "../../global/bootstrap.scss" as *;

.hero {
  position: relative;
  background: url("../img/index/hero-mobile.jpg") no-repeat center -18px;
  background-color: $hero-bg-color;
  // background-size: 568px 373px;
  background-size: 320px 373px;

  @media (min-resolution: 2dppx ) {
    background-image: url(../img/index/hero-mobile@2x.jpg);
  }

  @media (min-width: $tablet-width) {
    min-height: 621px;
    background: url("../img/index/hero-tablet.jpg") no-repeat center -67px;
    background-color: $hero-bg-color;

    @media (min-resolution: 2dppx) {
      background: url("../img/index/hero-tablet@2x.jpg") no-repeat center -67px;
      background-size: 768px auto;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -1px;
      width: 100%;
      height: 24px;
      background: url("../img/zigzag-fill-tablet.svg") repeat-x center;
      background-size: 770px 24px;
    }
  }

  @media (min-width: $desktop-width) {
    background: url("../img/index/hero-desktop.jpg") no-repeat center -64px;
    background-color: $hero-bg-color;
    margin-bottom: 59px;

    @media (min-resolution: 2dppx) {
      background: url("../img/index/hero-desktop@2x.jpg") no-repeat center -67px;
      background-size: 1150px auto;
    }

    &::after {
      bottom: -7px;
      height: 37px;
      background: url("../img/zigzag-fill-desktop.svg") repeat-x;
      background-size: 1250px 37px;
      background-position: 12px 0;
    }
  }
}

.hero__tagline {
  display: block;
  padding: 73px $mobile-padding 0;
  min-height: 283px;
  margin: 0 auto;
  color: $color;
  text-align: center;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    padding: 89px $tablet-padding 371px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
    padding: 95px $tablet-padding 355px;
  }
}
