@use "../../global/bootstrap.scss" as *;

.reviews {
  padding: 0 $m-padding 51px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 6px;
    width: 100%;
    left: 0;
    bottom: 0;
    background: url("../img/zigzag-line-desktop.svg");

    @media (min-width: $t-width) {
      bottom: -83px;
      height: 17px;
      background-size: 772px 17px;
    }

    @media (min-width: $d-width) {
      bottom: -90px;
      height: 23px;
      background-size: 1050px 23px;
    }
  }

  @media (min-width: $t-width) {
    min-height: 457px;
    background: url("../img/review.jpg") no-repeat left;
    display: grid;
    grid-template-columns: 1fr 175px;
    grid-template-rows: 133px;
    grid-template-areas:
      "title  button"
      "text   text";
    padding: 0 $t-padding 11px;
    margin-bottom: 83px;
  }

  @media (min-width: $d-width) {
    grid-template-rows: 135px;
    width: $d-container;
    margin: 0 auto;
    padding: 0 0 50px 175px;
    margin-bottom: 90px;
  }
}

.reviews__title {
  margin-bottom: 14px;

  @media (min-width: $t-width) {
    grid-area: title;
    align-self: end;
    margin: 0;
  }
}

.reviews__slider {
  @media (min-width: $t-width) {
    grid-area: text;
  }
}

.reviews__container {
  margin: 0 0 27px;
}

.reviews__text {
  line-height: 30px;
  margin: 0 0 35px;

  @media (min-width: $t-width) {
    margin: 38px 0 61px;
    font-size: 17px;
  }

  @media (min-width: $d-width) {
    margin-bottom: 43px;
  }
}

.reviews__cite {
  display: flex;
  flex-direction: column;
}

.reviews__author {
  font-size: 17px;
  font-weight: 700;
  font-style: normal;

  @media (min-width: $t-width) {
    font-size: 18px;
  }

  @media (min-width: $d-width) {
    font-size: 17px;
  }
}

.reviews__link {
  font-size: 17px;
  line-height: 35px;
  font-style: normal;
  text-decoration: none;
  color: $text-color;

  @media (min-width: $t-width) {
    font-size: 17px;
    line-height: 35px;
  }

  @media (min-width: $d-width) {
    line-height: 30px;
  }
}

.reviews__button-make {
  @media (min-width: $t-width) {
    grid-area: button;
    align-self: end;
    margin-bottom: 3px;
  }
}
