@use "../../global/bootstrap.scss" as *;

.header {

  height: $mobile-header-height;

  @media (min-width: $tablet-width) {
    // min-height: $tablet-header-height;
    height: auto;
  }

  &--no-js {
    height: auto;
  }
}
