@use "../../global/bootstrap.scss" as *;

.site-list {
  @media (min-width: $t-width) {
    display: flex;
    flex-wrap: wrap;
    grid-column: 1/-1;
    grid-row: 2/3;
    font-size: 15px;
    background-color: $bg-hero;
    padding: 0 260px 0 $t-padding;
  }

  @media (min-width: $d-width) {
    position: relative;
    grid-area: site-list;
    align-content: flex-start;
    padding: 0;
    padding-left: $d-padding - 36px;
    font-size: 17px;
    background-color: transparent;
  }
}

.site-list__item {
  @media (min-width: $d-width) {
    border-left: 1px solid rgba($color, 0.1);
  }

  &--no-border {
    @media (min-width: $t-width) {
      border: none;
    }
  }
}

.site-list__link {
  display: block;
  padding: 29px 0 26px;
  padding-left: 76px;
  text-decoration: none;
  color: $color;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $t-width) {
    padding: 20px 36px 21px 0;
  }

  @media (min-width: $d-width) {
    padding: 33px 35px 32px 36px;
  }
}
