@use "../../global/bootstrap.scss" as *;

.products {
  @include list-reset;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 51px;
    margin-bottom: 57px;
  }
}

.products__desc-wrappper {
  padding: 28px 26px 24px 28px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding: 27px 32px 25px 34px;
    flex-grow: 1;
  }

  @media (min-width: $desktop-width) {
    padding: 27px 32px 25px 28px;
  }
}

.products__item {
  margin-bottom: 31px;
  outline: 1px solid $stroke-color;
  outline-offset: -1px;
  transition: 0.25s;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    box-shadow: 0 6px 10px rgba($color, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba($color, 0.1);
  }
}

.products__link {
  display: block;
  transition: 0.2s;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.6;
  }
}

.products__link-title {
  text-decoration: none;
  color: $color;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.products__image {
  width: 100%;
  display: block;
}

.products__title {
  font-size: 17px;
  line-height: 24px;
  margin: 0 0 6px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    margin-bottom: 8px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 7px;
  }

  &--long {
    margin-bottom: 7px;
    transform: translateY(-3px);

    @media (min-width: $tablet-width) {
      transform: none;
    }
  }
}

.products__desc {
  margin: 0 0 18px;
  font-size: 13px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    margin-bottom: auto;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 13px;
  }
}

.products__footer {
  display: flex;
  border-top: 1px solid $stroke-color;
}

.products__price {
  color: $color;
  font-weight: 700;
  padding-top: 22px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

.products__buy {
  padding-top: 22px;
  padding-left: 25px;
  margin-left: auto;
  color: rgba($color, 0.2);

  &:hover {
    color: $brand-color;
  }

  &:active {
    color: rgba($brand-color, 0.3);
  }
}
