@use "../../global/bootstrap.scss" as *;

.products {
  @include list-reset;
  padding: $m-padding;

  @media (min-width: $t-width) {
    padding: 67px $t-padding 0;
  }
}

.product__desc-wrappper {
  padding: 28px 26px 24px 28px;
}

.products__item {
  margin-bottom: 31px;
  border: 1px solid $stroke-color;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    box-shadow: 0 6px 10px rgba($color, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba($color, 0.1);
  }
}

.products__link {
  display: flex;

  &:hover {
    opacity: 0.85;
  }

  &:active {
    opacity: 0.6;
  }
}

.products__link-title {
  text-decoration: none;
  color: $color;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.products__image {
  width: 100%;
}

.products__title {
  font-size: 17px;
  line-height: 24px;
  margin: 0 0 6px;

  &--long {
    margin-bottom: 7px;
    transform: translateY(-3px);
  }
}

.products__desc {
  margin: 0 0 18px;
  font-size: 13px;
  line-height: 30px;
}

.product__footer {
  display: flex;
  border-top: 1px solid $stroke-color;
}

.products__price {
  color: $color;
  font-weight: 700;
  padding-top: 22px;
}

.products__buy {
  padding-top: 22px;
  padding-left: 25px;
  margin-left: auto;
  color: rgba($color, 0.2);

  &:hover {
    color: $brand-color;
  }

  &:active {
    color: rgba($brand-color, 0.3);
  }
}
