@use "../../global/bootstrap.scss" as *;

.promo-clip {
  margin-bottom: 27px;
  padding: 22px 0 33px;
  outline: 1px solid $stroke-color;
  outline-offset: -1px;

  @media (min-width: $t-width) {
    display: flex;
    flex-direction: column;
    padding: 0 0 43px;
  }

  @media (min-width: $d-width) {
    display: grid;
    grid-template-columns: 682px 230px;
    grid-template-rows: minmax(171px, auto) minmax(171px, auto);
    column-gap: 79px;
    padding-right: 57px;
  }

  &:hover {
    box-shadow: 0 6px 10px rgba($color, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba($color, 0.1);
  }
}

.promo-clip__title {
  position: relative;
  margin: 0;
  font-size: 17px;
  font-weight: 700;
  padding-left: 91px;
  padding-bottom: 26px;

  @media (min-width: $t-width) {
    font-size: 20px;
    padding-left: 106px;
  }

  @media (min-width: $d-width) {
    padding: 96px 0 0;
    align-self: start;
  }

  &::after {
    content: "";
    position: absolute;
    background: url("../img/icons/icon-camera.svg");
    width: 32px;
    height: 22px;
    left: 33px;
    top: 50%;
    transform: translateY(-114%);

    @media (min-width: $t-width) {
      left: 41px;
      top: 24px;
    }

    @media (min-width: $d-width) {
      left: 0;
      top: 71px;
    }
  }
}

.promo-clip__video {
  position: relative;
  margin-bottom: 36px;
  width: 100%;

  @media (min-width: $t-width) {
    order: -1;
    margin-bottom: 41px;
  }

  @media (min-width: $d-width) {
    grid-row: 1/4;
    margin-bottom: 0;
  }
}

.promo-clip__image {
  width: 100%;
  display: flex;
}

.promo-clip__desc {
  margin: 0 0 41px;
  padding: 0 32px;
  font-size: 13px;

  @media (min-width: $t-width) {
    font-size: 15px;
    line-height: 30px;
    padding: 0 39px;
  }

  @media (min-width: $d-width) {
    padding: 0;
    margin-bottom: 0;
  }
}

.promo-clip__play-button {
  position: absolute;
  background-color: transparent;
  border: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.promo-clip__img-play {
  display: flex;

  &:hover {
    width: 100px * 1.2;
    height: 77px * 1.2;
  }

  &:active {
    width: 100px * 0.8;
    height: 77px * 0.8;
    opacity: 0.3;
  }
}

.promo-clip__button {
  margin: 0 34px;

  @media (min-width: $t-width) {
    letter-spacing: -0.6px;
    margin: 0 41px;
  }

  @media (min-width: $d-width) {
    margin: 0;
    align-self: start;
  }
}
